.logo {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    display: inline-block;
}